.section
  position relative
  &__wrap
    margin 0 auto
    padding 0
    position relative
    &_wide
      max-width 1920px
    &_narrow
      max-width 1480px
      @media only screen and (max-width : 1480px)
        padding 0 10px