@import '../globals/*'
@import '../blocks/**/*'

html
  margin 0
  padding 0
  font-size 14px
  line-height 1.2em

  @media tablet
    font-size 12px

  @media phone
    font-size 10px

body
  margin 0
  padding 0
  color $textColor
  font-family $mainFont, 'Arial', sans-serif
  font-size 18px
  font-weight 400
  min-width 320px
  min-height 500px
  line-height 1.2em
  background-color $bgColor

a
  color $textColor
  text-decoration none

  &:hover
    color $textColor
    text-decoration underline

body *
  box-sizing border-box
  outline none

ul
  margin 0
  padding 0

  & > li
    list-style none
    margin 0
    padding 0

p
  padding 0 0 10px 0
  margin 0

.clearfix:after
  display block
  content ''
  clear both

img
  max-width 100%
  height auto

.content
  max-width 1920px
  margin 0 auto

h1
  font-family $titleFont, 'Arial', sans-serif
  font-weight 800
  fsize(50)
  text-transform uppercase
  margin 0
  padding 0 0 20px 0
  line-height 1.1em
  letter-spacing 1.8px
  color $bgColor
  
  @media screen and (max-width: 812px)
    font-size: 2.6rem;

h2
  font-family $titleFont, 'Arial', sans-serif
  font-weight 400
  fsize(50)
  text-transform uppercase
  margin 0
  padding 0 0 30px 0
  line-height 1.1em
  letter-spacing 4.15px
  color $toneColor1
  
  @media screen and (max-width: 812px)
    font-size: 2.6rem;

.button
  border 1px solid $toneColor2
  background-color $toneColor2
  transition all 1s
  text-transform uppercase
  color $bgColor
  padding 0 26px
  cursor pointer
  font-weight 400
  fsize(30)
  display inline-block
  font-family $titleFont
  height 47px
  line-height 47px
  letter-spacing 0.75px
  &_transparent
    background-color transparent
    border 1px solid $toneColor1
    color $toneColor1
    fsize(22)
    letter-spacing 0.55px