- 
	set_bemto_settings({
		prefix: '',
		element: '__',
		modifier: '_'
	})

mixin b-intro()
	+b.intro
		+e.body
			+b.container
				+b.FORM
					+b.row
						+b.col-8
							+e.P.text-left.headline Рассчитайте пассивный доход
						+b.col-4
							button.white_currency.active._currency#usd USD
							button.white_currency._currency#uah UAH
					+b.row#slider_wrapper
						+b.col-4
								label.col-form-label(for="slider1") Cумма
						+b.col-8
								input.slider.form-control#slider1(type="range" min="1000" max="100000" step="1000" value="10000" oninput="showValue(value);" onchange="showValue(value);")
								span#val1
						+b.col-4
						+b.col-8
								span.controllers $1000
								span.controllers.right $100 000
						+b.col-4
								label.col-form-label(for="field-calculation-term") Срок
						+b.col-8
								input.form-control#slider2(type="range" min="3" max="36" step="1" value="3" oninput="showValue(value);" onchange="showValue(value);")
								span#term1
					+b.row
						.col-4
						.col-8
								span.controllers 3 мес
								span.controllers.right 36 мес
					+b.row
						.col-5
							p Выплата процентов
						.col-7
							button#month.white_term.active ежемесячно
							button#once.white_term в конце срока
					+b.row
						+b.col-6 
							p Процентная ставка
						+b.col-6 
							p#interest_rate.text-left 21
					+b.row
						+b.col-4
						+b.col-8
							span.controllers Зависит от срока, валюты и формата выплаты процентов
					+b.row
						+b.col-12
							p 
					+e.HR
					+b.row
						+b.col-12
							p.text-center.headline  Ваш пассивный доход
						+b.col-6
							p#incomeTotal $120 000
						+b.col-6 
							p#incomeMonthly $1 500
					+b.row
						+b.col-6
							span.controllers за весь срок вложения
						+b.col-6
							span.controllers ежемесячно
					+b.row
						+b.col-12
							button#yellow
								a Инвестировать