include ../../node_modules/bemto.pug/bemto
include ../globals/data
include ../blocks/all

- 
	set_bemto_settings({
		prefix: '',
		element: '__',
		modifier: '_'
	})

block params
	- var lang = 'ua'
	- var page = ''

if lang == 'ua'
	include ../globals/dataUa
else
	include ../globals/dataEn

doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		title= globals.pageTitle
		meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		link(rel="stylesheet" href="/assets/vendor.css")
		link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
		link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:400,700" rel="stylesheet")
		link(rel="stylesheet" href="/assets/app.css")
		link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.0/css/bootstrap-slider.min.css")

	body(class=page)
		block content
		script(src="/assets/vendor.js")
		script(src="/assets/app.js")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.0/bootstrap-slider.min.js")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous")
